.stack-work/
fpm.cabal
*~
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/fpm.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
