name = "fpm"
version = "0.1.0"
license = "MIT"
author = "fpm maintainers"
maintainer = ""
copyright = "2020 fpm contributors"

[dependencies]
[dependencies.toml-f]
git = "https://github.com/toml-f/toml-f"
tag = "v0.2"

[dependencies.M_CLI2]
git = "https://github.com/urbanjost/M_CLI2.git"
rev = "649075aceb97f997665a1a4656514fd2e9b4becc"

[dependencies.fortran-intrinsic-manpages]
git = "https://github.com/urbanjost/M_intrinsics.git"
rev = "a758ebdd0487e8cab5b4894fbf375f87147c44b5"

[[test]]
name = "cli-test"
source-dir = "test/cli_test"
main = "cli_test.f90"

[[test]]
name = "new-test"
source-dir = "test/new_test"
main = "new_test.f90"

[[test]]
name = "fpm-test"
source-dir = "test/fpm_test"
main = "main.f90"


